*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.idea
.project
.strong-pm
node_modules
npm-debug.log
.sass-cache
.tmp
.soy.js
node_modules
npm-debug.log
web/bower_components
coverage
docs

# OS X
.DS_Store
.Spotlight-V100
.Trashes

# KDE
.directory

# Vim and other editors
.*.sw[a-z]
*.un~
Session.vim
/nbproject
.idea
.settings
.project
.buildpath


# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Eclipse
.project
.pydevproject
.settings

# Linux Editors
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*
*.swp
*.swo

# Mac
.DS_Store
._*

# Windows
Thumbs.db
Desktop.ini

#Pycharm project files
.idea

#php_code
php_code

#tmp dir
tmp
